$color__background-body: #f3ec19;
$color__background-screen: #f3ec19;
$color__background-hr: #ccc;
$color__background-button: #f3ec19;
$color__background-pre: #f3ec19;
$color__background-ins: #f3ec19;

$color__brand-primary: #F66249 !default;
$color__brand-primary-hover: darken($color__brand-primary, 10%);

$color__text-screen: #21759b;
$color__text-input: #9d1f60;
$color__text-input-focus: #9d1f60;
$color__link: $color__brand-primary;
$color__link-visited: lighten($color__brand-primary, 10%);
$color__link-hover: $color__brand-primary-hover;
$color__text-main: #9d1f60;
$color__title: #9d1f60;


$color__header_bg: #2b2e34;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
